<h2>Login</h2>
<form method="POST" action="api/users/login">
  <input type="text" name="username" class="user-input" placeholder="Username" required>
  <input type="password" name="password" class="password-input" placeholder="Password" required>
  <button type="submit" class="login-btn">Login</button>
</form>
<a href="/signup">Create an account</a>
