<h2>Sign Up</h2>
<form method="POST" action="/api/users/signup">
  <input type="email" name="email" class="email-input" placeholder="Email" required>
  <input type="email" name="confirmEmail" class="confirm-email" placeholder="Confirm Email" required>
  <input type="text" name="username" class="username-input" placeholder="Username" required>
  <input type="password" name="password" class="pass-input" placeholder="Password" required>
  <input type="password" name="confirmPassword" class="confirm-pass" placeholder="Confirm Password" required>
  <button type="submit" class="create-account-btn">Create Account</button>
</form>
