<div class="comment-block">
  <p class="comment-text">{{commentText}}</p>
  <!-- Assuming you'll pass the user object along with each comment -->
  <p class="comment-author">Comment by {{user.username}} on {{formatDate this.createdAt}}</p>
</div>
